################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Build2018ChineseSubs/v15/.suo
